<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cc.ccaudio.dao.AudioFilePathMapper">

    <update id="updateSequence">
        UPDATE audiofilepath e SET e.`fileDir`=#{fileDir },e.`fileName`=#{fileName }
        WHERE e.`id`=#{id }
    </update>

    <select id="querySequence" resultType="cn.cc.ccaudio.dto.AudioFilePath" >
        select * from audiofilepath e where e.id = #{id }
    </select>

</mapper>