<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cc.ccaudio.dao.UserMainMapper">

    <select id="checkUserName" resultType="cn.cc.ccaudio.dto.UserMain">
        SELECT * FROM usermain e WHERE e.username=#{userName}
    </select>

    <select id="queryForLogin" resultType="cn.cc.ccaudio.dto.UserMain">
        SELECT * FROM usermain e WHERE e.userName=#{userName} AND e.password=#{passWord} AND  e.effect=1
    </select>

    <select id="queryUserList" resultType="cn.cc.ccaudio.dto.UserMain">
        SELECT * FROM usermain e WHERE
        e.`effect` = 1
        <if test="like!=null and like!=''">
            and ( e.`name` LIKE '%' #{like} '%' OR e.`username` LIKE '%' #{like} '%')
        </if>
        LIMIT #{page},5 ;
    </select>

    <select id="queryUserByToken" resultType="cn.cc.ccaudio.dto.UserMain">
        SELECT * FROM usermain e WHERE e.token=#{token}
    </select>

    <select id="queryUserByID" resultType="cn.cc.ccaudio.dto.UserMain">
        SELECT * FROM usermain e WHERE e.id=#{id}
    </select>

    <select id="queryUserCount" resultType="int">
        SELECT COUNT(*) FROM usermain e WHERE  e.`effect`=1
        <if test="like!=null and like!=''">
        and ( e.`name` LIKE '%' #{like} '%' OR e.`username` LIKE '%' #{like} '%')
        </if>
    </select>

    <update id="updateTokenByUserName">
        update usermain e set e.token=#{token} where e.id=#{id}
    </update>

    <update id="updateUserMsgByID">
        UPDATE usermain e SET e.`password`=#{passWord},e.`remark`=#{remark} WHERE e.id=#{id}
    </update>


    <insert id="insertUser">
        INSERT INTO `ccaudio`.`usermain` (
        `name`,`username`,  `password`,  `createDate`, `tokenexpiredate`, `accountexpiredate`,  `effect`,    `remark`) VALUES
        (#{name},#{userName},#{passWord},NOW(), #{tokenExpireDate},#{accountExpireDate}, 1,  #{remark})
    </insert>


</mapper>